## HandyPurse default config (tracked in repo)
## Copied to BepInEx/config by deploy.bat

[Limits]
## Max stack for Scrap.
# Setting type: Int32
# Default value: 9999
ScrapCap = 9999

## Max stack for Black Coin.
# Setting type: Int32
# Default value: 999
BlackCoinCap = 999

## Max stack for Crystals (BlackBlood and Glitter).
# Setting type: Int32
# Default value: 999
CrystalCap = 999
